* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 40px;
  }

  .column {
    float: left;
    width: 50%;
    padding: 15px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  input, select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .replace-btn {
      margin-left: auto;
      margin-right: auto;
  }

  .replace-btn img {
      width: 50%;
  }